# Git LFS tracking for crosswalk parquet files
crosswalk/mbs_umbs/*.parquet filter=lfs diff=lfs merge=lfs -text
crosswalk/fhfa_hmda/*.parquet filter=lfs diff=lfs merge=lfs -text
crosswalk/mbs_fhfa/*.parquet filter=lfs diff=lfs merge=lfs -text
